# Node
node_modules/

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# VS Code
.vscode/

# Environment
.env*
.env.local

# Vercel
.vercel/

# Debug
debug*.html

# Logs
*.log